:root {
  --mdc-typography-font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.p-label {
  font-family: 'Montserrat', sans-serif;
}

.p-component {
  font-family: 'Montserrat', sans-serif;
  border-radius: 0px;
}

.material-symbols {
  font-family: 'Material Symbols Sharp', sans-serif;
}

html {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  position: relative;
}

.sidebar-card {
  padding: 0.5rem;
}



.sidebar-popup h4 {
  font-size: 1rem;
  margin-block-start: 0.5em; /* Adjust to desired top margin */
  margin-block-end: 0.5em;   /* Adjust to desired bottom margin */
  font-weight: bold;
  font-style: uppercase;
  color: #548541;
  text-transform: uppercase;
}

p {
  line-height: 1.75;
}

.main-wrapper {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

.custom-hut-icon .material-symbols-sharp {
  font-size: 24px;
  color: #46a085;
  background: #fff;
  outline: 1px solid #46a085;
  border-radius: 20%;
  filter: drop-shadow(1px 1px 3px rgba(19, 99, 70, 0.55));
}

.custom-icon-other-houses::before {
  font-family: 'Material Icons Sharp';
  content: 'other_houses'; 
  speak: never;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px; 
}

@keyframes pulse-opacity {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}

.pulsating-opacity {
  animation: pulse-opacity 2s infinite;
}

/* #map-container, #map-card, #map {
  border: 1px solid red; 
}*/

.velomont-route {
  stroke-dasharray: 10, 10;
  animation: dash 20s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}